@tailwind base;
@tailwind components;
@tailwind utilities;

.color-primary {
  background: #8e44ad;
}

body {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: #f4f4f4;
}

.overflow-y-auto {
  scrollbar-width: thin;
}

.swiper {
  padding: 10px;
}

.swiper-wrapper {
  margin-bottom: 24px;
}

.swiper-button-prev,
.swiper-button-next {
  top: 95% !important;
  color: #8e44ad !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 24px !important;
}

.swiper-pagination {
  margin: auto;
  position: relative !important;
}

.swiper-pagination-bullet-active {
  background-color: #8e44ad !important;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 80% !important;
}